*,
*::after,
*::before {
    box-sizing: border-box;
    user-select: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html,
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    margin: 0;
    overflow: hidden;
}

#select-mode-page {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000c;
    z-index: 1;
    transition-duration: 300ms;
    & > #title {
        text-align: center;
        color: #fff;
        font-size: 1.4rem;
    }
    & > #mode-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        & > .mode {
            color: #fffc;
            font-size: 3rem;
            width: 120px;
            & > .mode-name:hover {
                cursor: pointer;
                text-shadow: 0px 0px 10px #fffa;
            }
            & > .mode-options {
                display: flex;
                flex-direction: column;
                font-size: 1rem;
                & > output {
                    height: 1.8rem;
                    line-height: 1.8rem;
                }
            }
            &.active {
                color: #fff;
                & > .mode-name {
                    text-shadow: 0px 0px 15px #fffc;
                }
            }
        }
    }
    & > #setting-trigger {
        position: absolute;
        left: 50%;
        width: 15px;
        border-top: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        height: 15px;
        transform-origin: center;
        transition-duration: 150ms;
        &:hover {
            cursor: pointer;
        }
        &.close {
            display: none;
            transform: rotate(135deg) translate(35.4%, -35.4%);
            &:hover {
                transform: rotate(135deg) translate(35.4%, -35.4%) scale(1.2);
            }
            &.show,
            &.hide {
                display: initial;
            }
            &.show {
                bottom: 10%;
            }
            &.hide {
                bottom: -10%;
            }
        }
        &.open {
            bottom: -2.5%;
            transform: rotate(-45deg) translate(-35.4%, 35.4%);
            &:hover {
                transform: rotate(-45deg) translate(-35.4%, 35.4%) scale(1.2);
            }
        }
    }
    &.hide {
        top: -100%;
    }
}

#main {
    position: relative;
    width: 80%;
    & > #center {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 15%;
        width: 15%;
        transform: translate(-50%, -50%);
        border: 1px solid #fff;
    }
    & > .dot {
        position: absolute;
        width: 10px;
        aspect-ratio: 1;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 255, 0, 0.1);
        border-radius: 50%;
        &.healthy {
            background: linear-gradient(45deg, #2afeb7, #08c792);
        }
        &.infected {
            background: linear-gradient(45deg, #ffcb52, #ff7b02);
        }
        &.immune {
            background-color: #999;
        }
    }
}

#side-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    background-color: #000;
    & > #settings {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 15px;
        & > .setting {
            display: flex;
            flex-direction: column;
            & > .info {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                margin: 10px 0;
            }
        }
    }
    & > #button-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        & > #start-button {
            color: #fff;
            &.start > #pause-icon {
                display: none;
            }
            &.pause > #start-icon {
                display: none;
            }
        }
        & > #stop-button {
            width: 14px;
            height: 14px;
            background-color: #fff;
            border-radius: 2px;
            &.disabled {
                opacity: 50%;
            }
        }
        & > *:not(.disabled) {
            transition-duration: 150ms;
            transform-origin: center;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    & > #chart-div {
        pointer-events: none;
    }
}

.scroll-bar {
    appearance: none;
    height: 1px;
    background: #fffa;
    outline: none;
    margin-bottom: 10px;
    &::-webkit-slider-thumb {
        appearance: none;
        width: 12px;
        aspect-ratio: 1;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
    }
    &:disabled {
        background: #fff5;
        &::-webkit-slider-thumb {
            background: #888;
            cursor: default;
        }
    }
}

label {
    color: #fff;
}

output {
    color: #fff;
    margin: 0;
}
