html {
    background-color: #000;
}

body {
    margin: 0;
}

.dot {
    background-color: rgba(0, 255, 0, 0.1);
    border-radius: 50%;
    /* border-color: #FFF; */
    /* border-style: solid; */
    /* border-width: 10px; */
    position: fixed;
    transition-timing-function: linear;
}

.item {
    position: absolute;
    background-color: #090;
    border-radius: 50%;
}

.dot:active,
.dot:focus,
.dot:hover {
    cursor: grabbing !important;
}

#big-square {
    position: fixed;
    background-color: blue;
}

#control-btn {
    position: fixed;
    bottom: 0%;
    left: 0%;
}

.side-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 20vw;
    height: 100vh;
    background-color: #000;
    /* border-style: solid;
    border-width: 3px;
    border-color: aliceblue;
    border-radius: 10px; */
}

.settings {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

label {
    color: #fff;
    left: 0%;
}

output {
    color: #fff;
    margin: 0 20px;
}

input {
    left: 0%;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#simulate-btn {
    margin: auto 15%;
    transition-duration: 800ms;
}

#simulate-btn:hover {
    opacity: 80%;
}

.start-simulate-btn {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
}

.pause-simulate-btn {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pause-simulate-btn::before,
.pause-simulate-btn::after {
    content: '';
    width: 5px;
    height: 15px;
    background-color: #fff;
    margin: 0 2px;
}

#stop-btn {
    margin: 30px 15%;
    width: 15px;
    height: 15px;
    background-color: #fff;
}

#stop-btn:hover {
    opacity: 80%;
}

#chart-div {
    width: inherit;
    position: absolute;
    bottom: 0%;
    right: 0%;
}