*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html,
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

#select-mode-page {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  transition-duration: 300ms;
}
#select-mode-page > #title {
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
}
#select-mode-page > #mode-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#select-mode-page > #mode-container > .mode {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
  width: 120px;
}
#select-mode-page > #mode-container > .mode > .mode-name:hover {
  cursor: pointer;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6666666667);
}
#select-mode-page > #mode-container > .mode > .mode-options {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
#select-mode-page > #mode-container > .mode > .mode-options > output {
  height: 1.8rem;
  line-height: 1.8rem;
}
#select-mode-page > #mode-container > .mode.active {
  color: #fff;
}
#select-mode-page > #mode-container > .mode.active > .mode-name {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
}
#select-mode-page > #setting-trigger {
  position: absolute;
  left: 50%;
  width: 15px;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  height: 15px;
  transform-origin: center;
  transition-duration: 150ms;
}
#select-mode-page > #setting-trigger:hover {
  cursor: pointer;
}
#select-mode-page > #setting-trigger.close {
  transform: rotate(135deg) translate(35.4%, -35.4%);
}
#select-mode-page > #setting-trigger.close:hover {
  transform: rotate(135deg) translate(35.4%, -35.4%) scale(1.2);
}
#select-mode-page > #setting-trigger.close.show {
  bottom: 10%;
}
#select-mode-page > #setting-trigger.close.hide {
  bottom: -10%;
}
#select-mode-page > #setting-trigger.open {
  bottom: -2.5%;
  transform: rotate(-45deg) translate(-35.4%, 35.4%);
}
#select-mode-page > #setting-trigger.open:hover {
  transform: rotate(-45deg) translate(-35.4%, 35.4%) scale(1.2);
}
#select-mode-page.hide {
  top: -100%;
}

#main {
  position: relative;
  width: 80%;
}
#main > #center {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 15%;
  width: 15%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
}
#main > .dot {
  position: absolute;
  width: 10px;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 255, 0, 0.1);
  border-radius: 50%;
}
#main > .dot.healthy {
  background: linear-gradient(45deg, #2afeb7, #08c792);
}
#main > .dot.infected {
  background: linear-gradient(45deg, #ffcb52, #ff7b02);
}
#main > .dot.immune {
  background-color: #999;
}

#side-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  background-color: #000;
}
#side-bar > #settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 15px;
}
#side-bar > #settings > .setting {
  display: flex;
  flex-direction: column;
}
#side-bar > #settings > .setting > .info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0;
}
#side-bar > #button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#side-bar > #button-container > #start-button {
  color: #fff;
}
#side-bar > #button-container > #start-button.start > #pause-icon {
  display: none;
}
#side-bar > #button-container > #start-button.pause > #start-icon {
  display: none;
}
#side-bar > #button-container > #stop-button {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 2px;
}
#side-bar > #button-container > #stop-button.disabled {
  opacity: 50%;
}
#side-bar > #button-container > *:not(.disabled) {
  transition-duration: 150ms;
  transform-origin: center;
}
#side-bar > #button-container > *:not(.disabled):hover {
  transform: scale(1.1);
}
#side-bar > #chart-div {
  pointer-events: none;
}

.scroll-bar {
  appearance: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.6666666667);
  outline: none;
  margin-bottom: 10px;
}
.scroll-bar::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.scroll-bar:disabled {
  background: rgba(255, 255, 255, 0.3333333333);
}
.scroll-bar:disabled::-webkit-slider-thumb {
  background: #888;
  cursor: default;
}

label {
  color: #fff;
}

output {
  color: #fff;
  margin: 0;
}
